/* Set all text left-aligned and black */
* {
  color: black;
  text-align: left;
}

/* header color to purple and centered */
h1, h2, h3 {
  color: rgb(158, 66, 245);
  text-align: center;
  margin: 2rem 2rem 3rem 3rem;
}

h1 {
  position: fixed;
  top: 0;
  left: 50px;
}

h2 {
  position: relative;
  right: 30px;
}

h3.none {
  display: none;
}

/* margins for paragraph */
p {
  margin-top: 5mm;
  margin-bottom: 2em;
  margin-left: 2in;
  margin-right: 10ch;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.item {
  flex-grow: 1;
  flex-basis: auto;
  background: red;
  width: 100px;
  height: 50px;
  color: white;
}

.grid-template {
  display: grid;
  grid-template-columns: 50px 60px auto 100px;
  grid-template-rows: 40% auto 50px;
}

.grid1 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: center;
  background-color: pink;
}

.grid2 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: start;
  background-color: red;
}

.grid3 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  justify-self: end;
  background-color: orange;
}

/* red text, purple border, margin, padding, height/width settings */
pre {
  color: red;
  border: 1cm solid purple;
  margin: auto;
  padding: 10px 10px 10px 10px;
  height: 100px;
  width: 50%;
  max-width: 500px;
  min-width: 100px;
}

/* first list color and bordered using many border options, padding */
#list1 {
  color: #e042f5;
  border-style: dashed;
  border-width: medium;
  border-color: yellow;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

/* set text of class blue to color blue */
.blue {
  color: blue;
  text-decoration: underline;
}

/* set paragraphs to blue background and white text */
p.blue {
  background-color: blue;
  color: white;
}

/* set bg color to cyan, overline on text */
li[target] {
  background-color: rgb(66, 245, 227, 0.5);
  text-decoration: overline;
}

/* if target is color, bg cyan and text red */
li[target="_color"] {
  color: red;
}

/* bg color red for sibling p of div */
div ~ p {
  background-color: hsl(0, 90%, 61%);
}

/* bg color green for adjacent sibling p of div */
div + p {
  background-color: green;
}

/* all details in div are right aligned and bg color yellow */
div details {
  text-align: right;
  background-color: yellow;
}

/* all figcaptions to figures are text color green */
figure > figcaption {
  margin: auto;
  color: green;
}

td {
  display: inline;
}

/* unvisited link is blue */
a:link {
  color: blue;
}

/* visited link is purple */
a:visited {
  color: purple;
}

/* link color is red when hovered over */
a:hover {
  color: red;
}

a {
  display: block;
}
